{
    "env": {
        "browser": true,
        "jasmine": true,
        "node": true
    },
    "ecmaFeatures": {
        "arrowFunctions": true,
        "blockBindings": true,
        "classes": true,
        "destructuring": true,
        "forOf": true,
        "jsx": true,
        "modules": true,
        "objectLiteralComputedProperties": true,
        "objectLiteralShorthandMethods": true,
        "objectLiteralShorthandProperties": true,
        "restParams": true,
        "templateStrings": true
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "accessor-pairs": 2,
        "brace-style": [2, "1tbs"],
        "comma-style": [2, "last"],
        "complexity": [2, 4],
        "consistent-this": [2, "that"],
        "default-case": 2,
        "dot-location": [2, "property"],
        "handle-callback-err": 1,
        "indent": [2, 4],
        "max-depth": [2, 3],
        "max-len": [2, 80],
        "max-nested-callbacks": [2, 2],
        "max-params": [2, 3],
        "max-statements": [2, 9],
        "new-cap": [2, {"capIsNew": false}],
        "no-bitwise": 2,
        "no-div-regex": 2,
        "no-extra-parens": [2, "functions"],
        "no-floating-decimal": 2,
        "no-lonely-if": 2,
        "no-mixed-requires": [1, true],
        "no-multiple-empty-lines": [2, {"max": 2}],
        "no-nested-ternary": 2,
        "no-new-require": 1,
        "no-path-concat": 1,
        "no-reserved-keys": 2,
        "no-self-compare": 2,
        "no-sync": 1,
        "no-undefined": 2,
        "no-underscore-dangle": 0,
        "no-use-before-define": [2, "nofunc"],
        "no-warning-comments": 1,
        "object-curly-spacing": [2, "never"],
        "object-shorthand": 1,
        "one-var": [2, "never"],
        "operator-linebreak": [2, "after"],
        "quotes": [2, "single"],
        "radix": 2,
        "react/display-name": 2,
        "react/jsx-boolean-value": [2, "always"],
        "react/jsx-no-undef": 2,
        "react/jsx-quotes": [2, "double"],
        "react/jsx-sort-prop-types": 2,
        "react/jsx-sort-props": 0,
        "react/jsx-uses-react": 2,
        "react/jsx-uses-vars": 2,
        "react/no-did-mount-set-state": 2,
        "react/no-did-update-set-state": 2,
        "react/no-multi-comp": 2,
        "react/no-unknown-property": 2,
        "react/prop-types": 2,
        "react/react-in-jsx-scope": 2,
        "react/self-closing-comp": 2,
        "react/sort-comp": 2,
        "react/wrap-multilines": 2,
        "space-after-keywords": [2, "always"],
        "space-before-blocks": [2, "always"],
        "space-before-function-paren": [2, "always"],
        "space-in-brackets": [2, "never"],
        "spaced-line-comment": [2, "always"],
        "strict": [2, "global"],
        "valid-jsdoc": [1, {
            "prefer": {
                "return": "returns"
            },
            "requireParamDescription": false,
            "requireReturn": false,
            "requireReturnDescription": false
        }],
        "wrap-iife": 2
    }
}
