extends layout

block content
  if errorMessage
    .error= errorMessage

  form.loginpanel(method='post')
    .txt
      input.input(id="username" name="username" type="text" placeholder="Username")
      label.label(for="username")
    .txt
      input.input(id="password" name="password" type="password" placeholder="Password")
      label.label(for="password")
    .buttons
      input.submit(type="submit" value="Register")
