html
body
    height 100%

body
  background #fff

.input-wrapper
  text-align center
  margin 200px 0 0

.main-input
  text-align left
  width 600px
  font 20px/24px Arial, sans-serif



.loginpanel
  font-family Ubuntu, sans-serif
  width 100%
  max-width 500px
  padding 20px
  margin 0px auto
  position relative
  top 30%
  transform translateY(-50%)
  background-color rgba(221, 221, 221, 0.6)
  border-radius 4px
  box-shadow 0px 0px 5px 1px #333
  box-sizing border-box

.txt
  position relative

.buttons
  display flex

.hr
  display flex
  width 100%
  margin 40px 0px
  color #555
  text-shadow 0px 1px rgba(255, 255, 255, 0.4)

.social
  display flex
  margin-bottom 10px

.input
  font-family Ubuntu, sans-serif
  color #555
  text-shadow 0px 1px #fff
  padding 12px 12px 12px 45px
  border 2px solid transparent
  border-radius 4px
  outline medium none
  background-color rgba(255, 255, 255, 0.8)
  width 100%
  margin 8px 0px
  box-sizing border-box

.label
  cursor text

  &:before
    display inline-block
    position absolute
    left 0px
    top 0px
    font-size 1.1em
    color #2ECC71
    line-height 58px
    text-align center
    width 50px
    height 50px
    content ''
    outline 1px dashed #900

.submit
  font-family Ubuntu, sans-serif
  margin: 8px 0px;
  padding: 12px;
  cursor: pointer;
  color: #FFF;
  text-shadow: 0px 1px #27AE60;
  font-size: 1.2em;
  border: 0px none;
  border-radius: 4px;
  outline: medium none;
  background-color: #2ECC71;
  box-shadow: 0px 2px #27AE60, 0px 0px #27AE60 inset;
  flex: 1 1 0%;
  width: 100%;

.register
  color #444
  text-decoration none
  transition all 0s ease 0s
  display inline-block
  vertical-align middle
  padding 0px 15px
  line-height 70px
  text-align center

.hr
  display flex
  width 100%
  margin 40px 0px
  color #555
  text-shadow 0px 1px rgba(255, 255, 255, 0.4)

.hr-line
  margin 0 0 0 20px
  flex 1 1 0%
  position relative

  &:before
    content " "
    position absolute
    top 50%
    left 0px
    right 0px
    height 1px
    background-color #5F5F5F
    box-shadow 0px 1px 0px rgba(255, 255, 255, 0.2)

.hr-line:first-child
  margin 0 20px 0 0

.hr-text
  font-size 1.2em

.social-link
  display inline-block
  flex 1 1 0%
  text-align center
  text-decoration none
  outline medium none

  &:before
    display inline-block
    padding 0px
    font-size 2em
    color #444
    line-height 50px
    text-align center
    text-shadow 0px 1px rgba(255, 255, 255, 0.4)
    transition all 0.2s ease-out 0s
    border-radius 50%
    width 50px
    height 50px
    content ''
    outline 1px dashed #900
